.input-icon {
    position: relative;
}
.text-white {
    color: #ffffff !important;
}

//----


.btn-icon-lined.btn-warning {
  color: #fac552;
  border: 2px solid #fac552;
}
.btn-icon-lined.btn-icon-lined {
  line-height: 31px;
}

.btn-icon-lined {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #767676;
  color: #767676;
  height: 35px;
  width: 35px;
  line-height: 35px;
}
.btn-icon-round {
  border-radius: 50%;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}