abbr, accronym {
  border-bottom: 0px !important;
}

// Input fields
.form-control {
  border: 1px solid $body-font-color;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: 34px;
  &:focus {
    border-color: $turquoise;
    box-shadow: none;
  }
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.input-icon {
  position: relative;
}
.text-white {
  color: #ffffff !important;
}

.input-icon.right i {
  right: 8px;
  float: right;
}

.input-icon i {
  color: #999999;
  display: block;
  position: absolute;
  margin: 10px 2px 4px 10px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}

//Checkbox
.icheckbox_minimal-grey, .iradio_minimal-grey {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(checkbox-radio-grey.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_minimal-grey {
  background-position: 0 0;
}

// Customize date dropdowns take auto width 
.date > .col-sm-9 .form-control {
  display: inline-block;
  width: auto;
}

// Buttons
.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: $turquoise !important;
  border-color: $turquoise !important;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  &:hover, &:focus {
    background-color: $dark-turquoise !important;
    border-color: $dark-turquoise !important;
  }
}

.btn-outline {
  color: $turquoise;
  background-color: $white;
  border-color: $turquoise;
  &:hover, &.focus {
    color: $white;
    background-color: $light-turquoise;
    border-color: $turquoise;
  }
}

.btn-danger {
  background-color: $red;
  border-color: $red;
  &:hover, &.focus {
    background-color: $dark-red;
    border-color: $dark-red;
  }
}

.btn-success {
  background: $grass;
  border-color: $grass;
  &:hover, &.focus {
    background-color: $dark-grass;
    border-color: $dark-grass;
  }
}

.btn-info {
  background: $light-blue;
  border-color: $light-blue;
  &:hover, &.focus {
    background-color: $blue;
    border-color: $blue;
  }
}

.btn-white {
  @extend .btn-default;
  background: $white;
  border-color: $white;
  &:hover, &.focus {
    background-color: $xx-light-grey;
    border-color: $xx-light-grey;
  }
}

.btn-black {
  @extend .btn-default;
  color: $white;
  background: $mid-night-blue;
  border-color: $mid-night-blue;
  &:hover, &.focus {
    color: $white;
    background-color: $dark-mid-night-blue;
    border-color: $dark-mid-night-blue;
  }
}

.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}

// Button icons
.btn-icon-lined.orange {
  color: $orange;
  border: 2px solid $orange;
  .fa {
    color: $orange !important;
  }
}

.btn-icon-lined.light-blue {
  color: $light-blue;
  border: 2px solid $light-blue;
  .fa {
    color: $light-blue !important;
  }
}

.btn-icon-lined {
  display: inline-block;
  text-align: center;
  background-color: #fff;
  border: 2px solid #767676;
  color: #767676;
  height: 30px;
  width: 30px;
  line-height: 30px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: $screen-xs-max) {
  .btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Small devices (tablets, 768px and upto large desktops, 1200px and up) */
@media (min-width: $screen-sm-min) {
  .form-inline label.datetime {
    display: block;
    margin-bottom: 0;
  }
}