abbr, accronym {
  border-bottom: 0px !important;
}

// Input fields
.form-control {
  border: 1px solid $light-grey;
  @include border-radius(3px);
  box-shadow: none;
  font-size: 14px;
  height: 34px;
  &:focus {
    border-color: $turquoise;
    box-shadow: none;
  }
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.input-icon {
  position: relative;
}
.text-white {
  color: #ffffff !important;
}

.input-icon.right i {
  right: 8px;
  float: right;
}

.input-icon i {
  color: #999999;
  display: block;
  position: absolute;
  margin: 10px 2px 4px 10px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}

.form-actions {
  padding-left: 15px;  
}

//Checkbox
.icheckbox_minimal-grey, .iradio_minimal-grey {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(checkbox-radio-grey.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_minimal-grey {
  background-position: 0 0;
}

// Customize date dropdowns take auto width
.date > .col-sm-9 .form-control {
  display: inline-block;
  width: auto;
}

// Buttons
.btn {
  @include border-radius(3px);
}

.btn-primary {
  background-color: $turquoise !important;
  border-color: $turquoise !important;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  &:hover, &:focus {
    background-color: $dark-turquoise !important;
    border-color: $dark-turquoise !important;
  }
}

.btn-danger {
  background-color: $red;
  border-color: $red;
  &:hover, &.focus {
    background-color: $dark-red;
    border-color: $dark-red;
  }
}

.btn-success {
  background: $grass;
  border-color: $grass;
  &:hover, &.focus {
    background-color: $dark-grass;
    border-color: $dark-grass;
  }
}

.btn-info {
  background: $light-blue;
  border-color: $light-blue;
  &:hover, &.focus {
    background-color: $blue;
    border-color: $blue;
  }
}

.btn-black {
  @extend .btn-default;
  color: $white;
  background: $mid-night-blue;
  border-color: $mid-night-blue;
  &:hover, &.focus {
    color: $white;
    background-color: $x-dark-mid-night-blue;
    border-color: $x-dark-mid-night-blue;
  }
}

.btn-grey {
  @extend .btn-default;
  color: $white;
  background: $dark-medium-grey;
  border-color: $dark-medium-grey;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.3);
  &:hover, &.focus {
    color: $white;
    background-color: $medium-grey;
    border-color: $medium-grey;
  }
}

.btn-outline {
  color: inherit;
  background-color: transparent !important;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: $turquoise;
  &:hover {
    color: $white;
    background: $turquoise !important;
  }
}

.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}

// Button icons
.btn-icon-lined.orange {
  color: $orange;
  border: 2px solid $orange;
  .fa {
    color: $orange !important;
  }
}

// Search button
.search-button {
  padding: 0;
  button {
    background-color: $light-medium-grey;
    border-width: 8px;
    border: none;
    padding: 9px 13px;
  }
}

// dropdown-select
select {
  @include web-appearance(none);
  text-indent: 0.01px;
  text-overflow: '';
  background-image: asset-url('up-down-arrow') !important;
  background-position: 98% 50%;
  background-repeat: no-repeat;
}

select.date {
  background-position: 93% 50%;
}

// input to link
.button-to-link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: $screen-xs-max) {
  .btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Small devices (tablets, 768px and upto large desktops, 1200px and up) */
@media (min-width: $screen-sm-min) {
  .form-inline label.datetime {
    display: block;
    margin-bottom: 0;
  }
}