html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

body {
  background-color: $body-background-color;
  color: $body-font-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
}

p {
  font-size: 13px;
}

a {
  color: $turquoise;
  &:hover, &:focus {
    color: $dark-turquoise;
  }
}

// Flash
.alert {
  border-radius: (3px);
}

.alert-success {
  color: $dark-grass;
  background: $white-grass;
  border-color: $x-light-grass;
}

.alert-danger {
  color: $dark-red;
  background: $white-red;
  border-color: $x-light-red;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.flash_warning {
  @extend .alert-warning;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: $red;
}

.has-error .form-control {
  border-color: $red;
  box-shadow: none;
}

// Badge
.badge {
  border-radius: 2px;
}

.badge-light-blue, .label-light-blue {
  background-color: $light-blue !important;
}

.badge-orange, .label-orange {
  background-color: $orange !important;
}

// Line break
.x-light-turquoise-hr {
  border-top: 1px solid $x-light-turquoise;
}

// Thumbnail
.thumbnail {
  @include border-radius(0);
}

// Navbar
.navbar-nav {
  margin: 0 auto;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.nav > li > a {
  padding: 15px 20px;
}

// Font awesome

// Background
.yellow-background {
  background: $yellow !important;
}

.grass-background {
  background: $grass;
}

.blue-background {
  background: $blue;
}

.white-background {
  background: $white;
}

.light-grey-background {
  background: $light-grey;
}

.xx-light-grey-background {
  background: $xx-light-grey;
}

// Color
.turquoise {
  color: $turquoise !important;
}

// Display
.visible-all-inline-block {
  display: inline-block !important;
}

.visible-all-inline {
  display: inline !important;
}

.visible-all-block {
  display: block !important;
}

// Panel
.panel {
  @include border-radius(3px);
  box-shadow: none;
  //box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.panel-heading, .panel-footer {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-default {
  border: 1px solid $light-grey;
}

.panel-default > .panel-heading {
  color: inherit;
  background-color: $white;
}

.panel-title {
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
}

.panel-body {
  padding: 20px;
}

.panel-footer {
  background: $xx-light-grey;
}

.panel-dark-header-outline {
  .panel-heading {
    border-bottom: 1px solid $black;
  }
}

.panel-turqouise-header-outline {
  .panel-heading {
    border-bottom: 1px solid $turquoise;
  }
}

.panel-success-top-outline {
  border-top: 2px solid $grass;
}

.panel-info-top-outline {
  border-top: 2px solid $blue;
}

.panel-warning-top-outline {
  border-top: 2px solid $orange;
}

.panel-danger-top-outline {
  border-top: 2px solid $red;
}
// Progress bar
.progress {
  background-color: $xx-light-grey;
  @include border-radius(2px);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.progress-small {
  height: 10px;
}
.progress .progress-bar {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #dc6767;
}

.progress .progress-bar.progress-bar-success {
  background-color: $grass !important;
}

.progress .progress-bar.progress-bar-info {
  background-color: $light-blue !important;
}

.progress .progress-bar.progress-bar-danger {
  background-color: $red !important;
}

.progress .progress-bar.progress-bar-warning {
  background-color: $orange !important;
}

// Well
.well {
  background-color: $white;
  border: 1px solid $light-grey;
  @include border-radius(3px);
  box-shdow: none;
  //box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

// Dropdown
.dropdown-menu {
  min-width: 180px;
}

// Breadcrumb
.breadcrumb > li {
  font-size: 11px;
}

// Description list
dt {
  font-weight: bold;
}

//Image
.img-circle {
  border-radius: 50% !important;
}

.img-bordered-xxs {
  border-radius: 2px !important;
}

// Custome note box
.note {
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 3px solid #e5e5e5;
  @include border-radius(3px);
}

.note-success {
  border-color: $grass;
  background: $white-grass;
  .heading {
    color: $grass;
  }
}

.note-info {
  border-color: $blue;
  background: $white-blue;
  .heading {
    color: $blue;
  }
}

.note-alert {
  border-color: $red;
  background: $white-red;
  .heading {
    color: $red;
  }
}

// Custome fieldset and legend
.custom-fieldset {
  border: 1px solid $light-grey !important;
  margin: 15px 2px !important;
  padding: 0.35em 0.625em 0.75em !important;
  .custom-legend {
    width: auto;
    margin-bottom: 15px;
    font-size: 13px;
    color: $dark-grey;
    border-bottom: none;
  }
}

// Padding
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

// Pagination
.pagination > li > a, .pagination > li > span {
  color: $turquoise;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $turquoise;
  border-color: $dark-turquoise;
}

// Margins
.m-t-n {
  margin-top: 0 !important;
}

.m-b-n {
  margin-bottom: 0 !important;
}

.m-t-xs {
  margin-top: 5px !important;
}

.m-b-xs {
  margin-bottom: 5px !important;
}

.m-t-s {
  margin-top: 10px !important;
}

.m-b-s {
  margin-bottom: 10px !important;
}

.m-t-m {
  margin-top: 15px !important;
}

.m-b-m {
  margin-bottom: 15px !important;
}

.m-t-l {
  margin-top: 20px !important;
}

.m-b-l {
  margin-bottom: 20px !important;
}

.m-t-xl {
  margin-top: 30px !important;
}

.m-b-xl {
  margin-bottom: 30px !important;
}

.no-margins {
  margin: 0 !important;
}

// alignment
.vertical-text {
  transform: rotate(-90deg);
  transform-origin: left top 0;
  @include transition(2s);
}

.center-block {
  display: table;
}

/* Extremely very extra small devices (phones, less than 480px) */
@media (max-width: $screen-xxxs-max) {
  .visible-xxxs {
    display: inline-block !important;
  }
  .hidden-xxxs {
    display: none;
  }
}

/* Very extra small devices (phones, 320px, and upto small phones, 480px) */
@media (min-width: $screen-xxs-min) and (max-width: $screen-xxs-max) {
  .visible-xxxs {
    display: none;
  }
}

/* Very extra small devices (phones, less than 480px) */
@media (max-width: $screen-xxs-max) {
  .visible-xxs {
    display: inline-block !important;
  }
  .hidden-xxs {
    display: none;
  }
}

/* Extra small devices (phones, 480px, and upto large phones, 768px) */
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .visible-xxxs {
    display: none;
  }
  .visible-xxxs {
    display: none;
  }
  .visible-xxs {
    display: none;
  }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: $screen-xs-max) {
  .visible-xxs {
    display: none;
  }
  .navbar-default .navbar-toggle {
    border-color: $white;
    .icon-bar {
      background-color: $white;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .navbar-right {
    margin-right: 0;
  }
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

/* Small devices (tablets, 768px and upto desktops, 992px) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}

/* Medium devices (desktops, 992px and upto large desktops, 1200px) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}