html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

body {
  background-color: $body-background-color; 
  color: $body-font-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
}

a {
  color: $turquoise;
  &:hover, &:focus {
    color: $dark-turquoise;
  }
}

#wrapper {
  width: 100%;
  min-height: 100%;
  background-color: #3C3C3C;
}

// Flash
.alert {
  border-radius: 0;  
}

.alert-success {
  color: $dark-grass;
  background: $white-grass;
  border-color: $x-light-grass;
}

.alert-danger {
  color: $dark-red;
  background: $white-red;
  border-color: $x-light-red;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.flash_warning {
  @extend .alert-warning;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: $red;
}

.has-error .form-control {
  border-color: $red;
  box-shadow: none;
}

// Badge
.badge-light-blue, .label-light-blue {
  background-color: $light-blue !important;
}

.badge-orange, .label-orange {
  background-color: $orange !important;
}

// Font awesome
[class^="fa-"], [class^="glyphicon-"], [class^="icon-"], [class*=" fa-"], [class*=" glyphicon-"], [class*=" icon-"] {
  display: inline-block;
  margin-top: 1px;
  line-height: 14px; 
  -webkit-font-smoothing: antialiased;
}

// Background
.yellow-background {
  background: $yellow !important;
}

.grass-background {
  background: $grass;
}

.blue-background {
  background: $blue;
}

// Color
.turquoise {
  color: $turquoise !important;
}

// Display
.visible-all-inline-block {
  display: inline-block;
}

.visible-all-inline {
  display: inline;
}

// Panel
.panel {
  @include border-radius(0);  
  box-shadow: none;
  //box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.panel-heading, .panel-footer {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-default {  
  //border: 1px solid #e4e5e7;
  border: 1px solid $light-grey;
}

.panel-default > .panel-heading {
  color: inherit;
  background-color: $white;
}

.panel-title {
  padding-bottom: 0;
  font-weight: 700;
  font-size: 13px;
}

.panel-body {
  padding: 20px;  
}

.panel-footer {
  background: $xxx-light-grey; 
}

.panel.panel-dark-background {
  .panel-heading {
    background: $light-black;
    color: $white;
  }  
}

// Progress bar
.progress {
  height: 6px;
  position: relative;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.progress .progress-bar {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #dc6767;
}

.progress .progress-bar.progress-bar-success {
  background-color: $grass !important;
}

.progress .progress-bar.progress-bar-info {
  background-color: $light-blue !important;
}

.progress .progress-bar.progress-bar-danger {
    background-color: $red !important;
}

.progress .progress-bar.progress-bar-warning {
    background-color: $orange !important;
}

// Well
.well {
  background-color: $white; 
  border: 1px solid $light-grey;
  @include border-radius(0);
  box-shdow: none;
  //box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

// Dropdown 
.dropdown-menu {
  min-width: 180px;
}

.dropdown-menu .divider {
  margin: 5px 0;
}

//Image
.img-circle {
  border-radius: 50% !important;
}

// Custom fieldset and legend
.custom-fieldset {
  border: 1px solid $light-grey !important;
  margin: 15px 2px !important;
  padding: 0.35em 0.625em 0.75em !important;
  .custom-legend {
    width: auto;
    margin-bottom: 15px;
    font-size: 13px;
    color: $x-dark-medium-grey;
    border-bottom: none;
  }
}

// Padding
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

// Margins
.mbn, .mvn, .man {
  margin-bottom: 0px !important;
}

.mbs, .mvs, .mas {
  margin-bottom: 5px !important;
}

.mbs, .mvs, .mas {
  margin-bottom: 5px !important;
}

.mbs, .mvs, .mas {
  margin-bottom: 5px !important;
}

/* Extremely very extra small devices (phones, less than 480px) */
@media (max-width: $screen-xxxs-max) {
  .visible-xxxs {
    display: inline-block !important;
  }
  .hidden-xxxs {
    display: none;
  }
}

/* Very extra small devices (phones, 320px, and upto small phones, 480px) */
@media (min-width: $screen-xxs-min) and (max-width: $screen-xxs-max) {
  .visible-xxxs {
    display: none;
  }
}

/* Very extra small devices (phones, less than 480px) */
@media (max-width: $screen-xxs-max) {
  .visible-xxs {
    display: inline-block !important;
  }
  .hidden-xxs {
    display: none;
  }
}

/* Extra small devices (phones, 480px, and upto large phones, 768px) */
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .visible-xxxs {
    display: none;
  }
  .visible-xxxs {
    display: none;
  }
  .visible-xxs {
    display: none;
  }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: $screen-xs-max) {
  .visible-xxs {
    display: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .navbar-right {
    margin-right: 0; 
  }
}

/* Small devices (tablets, 768px and upto desktops, 992px) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}

/* Medium devices (desktops, 992px and upto large desktops, 1200px) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}