html, body {
  height: 100%;
}

// navbar
#topbar.navbar-default {
  border: 0;
}

#topbar {
  background: #ffffff;
  width: 100%;
  height: 50px;
  position: fixed;
  .navbar-header {
    width: 200px;
    height: 100%;
    background: $turquoise;
    text-align: center;
  }
  .navbar-header #logo {
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    height: 100%;
    width: 100%;
  }
  .navbar-header #logo span.logo-text {
    display: block;
    font-weight: 600;
    font-size: 14px;
  }
  .navbar-header #logo span.fa {
    display: none;
  }
  .topbar-main {
    display: block;
    height: 100%;
    background: $turquoise;
  }
  .topbar-main #menu-toggle {
    float: left;
    padding: 15px 20px;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
    color: #ffffff;
  }
  .topbar-main #menu-toggle i {
    font-size: 15px;
  }
  #topbar-search {
    width: 250px;
    float: left;
  }
  #topbar-search input {
    padding: 15px 30px !important;
    height: 100%;
    border: 0 !important;
    @include border-radius(0);
    background: $light-turquoise;
  }
  #topbar-search i {
    margin: 0;
    top: 17px;
    right: 12px;
    color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .navbar-top-links li {
    display: inline-block;
  }
  .navbar-top-links li > a {
    height: 100%;
    color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .navbar-top-links li > a span.badge {
    position: absolute;
    right: 12px;
    padding: 2px 5px;
    color: #ffffff;
  }
  .navbar-top-links li > a span.badge.header-nav-icons {
    top: 7px;
  }
  .navbar-top-links li > a img {
    position: relative;
    width: 19px;
    height: 19px;
    display: inline-block;
  }
  .navbar-top-links li .dropdown-menu li {
    display: block;
  }
  .navbar-top-links li .dropdown-menu li a {
    min-height: 0;
    color: #999999;
  }
  .navbar-top-links li > a i {
    font-size: 20px;
    color: #ffffff;
    line-height: 17px;
  }
  .admin-options {
    z-index: 20;
    line-height: 20px;
  }
  .dropdown-menu.panel .list-group-item>a {
    display: block;
    &:hover {
      background: $xxx-light-grey;
      text-decoration: none;
    }
  }
}

.navbar {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: $dark-turquoise;
}

// Dropdown
.dropdown-menu {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 13px;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu li a {
  display: block;
  padding: 3px 20px !important;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
}

.dropdown-menu {
  .title {
  padding: 12px 12px;
  text-align: center;
  border-bottom: 1px solid light-grey;
  }
  li {
    padding: 6px 12px;
    text-align: left;
    background: $xxx-light-grey;
    border-bottom: 1px solid light-grey;
  }
   li:hover, .dropdown-menu.filedropdown li:hover {
    background: $body-background-color;
  }
  li.divider {
    padding: 0;
    margin: 0;
    background: $medium-grey;
  }
}

.dropdown-menu.notification li {
  padding: 12px 12px;
  .label {
    margin-right: 10px;
  }
}

.dropdown-menu.settings li > a i {
  color: $body-text-color!important;
  font-size: 14px !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: $body-background-color;
}

// Modal
.modal-header {
  padding: 5px;
  border-bottom: 1px solid $light-grey;
  background: $xxx-light-grey;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modal-footer {
  .btn-toolbar {
    margin: 0;
    padding: 0;
  }
}

// List
.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

.list-group+.panel-footer, .panel-heading+.list-group .list-group-item:first-child {
  border-top-width: 0;
}

.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.list-group-item {
  padding: 15px;
  border: 1px solid #f3f3f3;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #eff2f7;
  border-radius: 0;
}

ul.todo-list {
  overflow: hidden;
  width: auto;
  height: 250px;
  padding: 0;
}

ul.todo-list li {
  background: #f3f3f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  padding: 13px;
  margin-bottom: 5px;
  cursor: move;
  list-style: none;
  span.drag-drop {
    height: 17px;
    display: block;
    float: left;
    width: 7px;
    position: relative;
    top: 2px;
  }
  span.drag-drop i {
    height: 2px;
    width: 2px;
    display: block;
    background: #ccc;
    box-shadow: 5px 0 0 0px #ccc,0px 5px 0 0px #ccc,5px 5px 0 0px #ccc,0px 10px 0 0px #ccc,5px 10px 0 0px #ccc,0px 15px 0 0px #ccc,5px 15px 0 0px #ccc;
    -webkit-box-shadow: 5px 0 0 0px #ccc,0px 5px 0 0px #ccc,5px 5px 0 0px #ccc,0px 10px 0 0px #ccc,5px 10px 0 0px #ccc,0px 15px 0 0px #ccc,5px 15px 0 0px #ccc;
    -moz-box-shadow: 5px 0 0 0px #ccc,0px 5px 0 0px #ccc,5px 5px 0 0px #ccc,0px 10px 0 0px #ccc,5px 10px 0 0px #ccc,0px 15px 0 0px #ccc,5px 15px 0 0px #ccc;
  }
  .todo-check {
    margin-left: 10px;
    margin-right: 10px;
  }
  .todo-title {
    margin-right: 70px;
  }
  .todo-actions {
    position: absolute;
    right: 15px;
    top: 13px;
  }
  .todo-actions a i {
    color: #999999;
    margin: 0 5px;
  }
}

ul.todo-list li {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

// Media
.media>.pull-left {
  margin-right: 10px;
}

// Span
span.block {
  display: block;
}

// Side nav
#sidebar {
  background: $dark-mid-night-blue;
  top: 50px;
}

.navbar-static-side {
  transition: 0.3s all linear;
  .link-container a {
    display: inherit;
  }
}

.navbar-static-side ul li {
  background: $dark-mid-night-blue;
  outline: none;
  color: #d9d9d9;
}

.navbar-static-side ul li {
  border-bottom: 1px solid $light-dark-grey;
}

.navbar-static-side ul li a {
  color: #d9d9d9;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
  &:hover, &:focus {
    background: $body-background-color;
    transition: 0.2s all ease-in-out;
    outline: none;
    color: $body-text-color;
  }
}

.navbar-static-side ul li.active a {
  background: $body-background-color;
  transition: 0.2s all ease-in-out;
  outline: none;
  color: $body-text-color;
}

.navbar-static-side ul li a span.menu-title {
  margin-left: 10px;
}

.left-side-collapsed .navbar-static-side {
  ul#side-menu li {
    text-align: center;
  }
  ul#side-menu li a span {
    display: none;
  }
  .company-profile {
    padding: 20px 5px;
  }
  .company-profile img {
    @extend .img-responsive;
  }
  .link-container-hidden {
    display: none;
  }
}

// Container
#wrapper {
  min-height: 100%;
  background-color: $body-background-color;
  transition: 0.3s all linear;
}

.page-title-breadcrumb {
  padding: 10px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  clear: both;
  border-bottom: 1px solid #e5e5e5 !important;
  box-shadow: none !important;
}

.page-title-breadcrumb .page-header {
  margin: 0;
  padding: 0;
  border-bottom: 0;
}

.page-title-breadcrumb .page-header {
  h2.page-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 0 0;
  }
}

.page-title-breadcrumb .breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: transparent;
}

.page-content {
  padding: 20px 20px 120px 20px;
}

.dashboard-card {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dashboard-card .fa-area-chart {
  font-size: 5.5em;
}

.dashboard-card .main-icon .fa {
  font-size: 2em;
  margin-top: -5px;
}

.dashboard-card {
  .fade-out-panel {
    position: relative;
  }
  .fade-out-panel-body {
    opacity: 0.2;
  }
  .first-user-prompt-btn {
    @extend .vertical-center;
    left: 25%;
  }
}

.portlet .portlet-body {
  background: #FFFFFF;
  padding: 15px;
  clear: both;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.slimScrollDiv {
  float: left;
}

.company-profile {
  padding: 20px 20px;
  text-align: center;
  border-bottom: 1px solid $light-dark-grey;
  a, small {
    color: #d9d9d9;
  }
}

.projects, .sales {
  form table .form-group {
    margin-bottom: 10px;
  }
}

// Ribbon
.ribbon-wrapper {
  width: 110px;
  height: 120px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  color: $white;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 20px;
  width: 150px;
  //background-color: #BFDC7A;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

// Charts



/* Extra small devices (phones, less than 768px) */
@media (max-width: $screen-xs-max) {
  #topbar .navbar-header {
    width: 100%;
    text-align: left;
    #logo {
      line-height: auto;
      width: auto;
      height: auto;
    }
  }
  #wrapper {
    position: relative;
    top: 100px;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: $white;
  }
  .sidebar-collapse {
    overflow: hidden;
    position: relative;
    top: 100px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .navbar-header {
    float: left;
  }
  .navbar-static-side {
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 197px
  }
  #wrapper {
    position: relative;
    overflow: hidden;
    margin: 0 0 0 180px;
  }
  #sidebar {
    position: fixed;
    min-height: 100%;
  }
  .inner-container {
    position: relative;
    top: 50px;
  }
  .navbar-static-side ul li a {
    .fa {
      font-size: 16px;
    }
  }
  .collapse {
    display: inline;
  }
  .left-side-collapsed {
    .navbar-static-side {
      width: 70px;
    }
    #wrapper {
      margin: 0 0 0 55px;
    }
  }
}

/* Small devices (tablets, 768px and upto desktops, 992px) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}

/* Medium devices (desktops, 992px and upto large desktops, 1200px) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .visible-lg {
    display: block!important;
  }

}

