// Navbar
#topbar.navbar-default {
  border: 0;
}

#topbar {
  background: #ffffff;
  width: 100%;
  height: 50px;
  .navbar-header {
    width: 200px;
    height: 100%;
    background: $turquoise;
    text-align: center;
  }
  .navbar-header #logo {
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    height: 100%;
    width: 100%;
  }
  .navbar-header #logo span.logo-text {
    display: block;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
  }
  .navbar-header #logo span.fa {
    display: none;
  }
  .topbar-main {
    display: block;
    height: 100%;
    background: $turquoise;
  }
  .topbar-main #menu-toggle {
    float: left;
    padding: 15px 20px;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
    color: #ffffff;
  }
  .topbar-main #menu-toggle i {
    font-size: 25px;
  }
  #topbar-search {
    width: 250px;
    float: left;
    margin-top: 2px;
  }
  #topbar-search input {
    padding: 15px 30px !important;
    height: 100%;
    border: 0 !important;
    border-radius: 0;
    background: $light-turquoise;
  }
  #topbar-search i {
    font-size: 20px;
    margin: 0;
    top: 17px;
    right: 12px;
    color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .navbar-top-links li {
    display: inline-block;
  }
  .navbar-top-links li > a {
    padding: 15px 20px;
    height: 100%;
    color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .navbar-top-links li > a span.badge {
    position: absolute;
    top: 5px;
    right: 30px;
    padding: 3px 6px;
    color: #ffffff;
  }
  .navbar-top-links li.topbar-user a {
    padding: 10px 20px;
  }
  .navbar-top-links li.topbar-user a img {
    margin-right: 5px;
  }
  .navbar-top-links li > a img {
    position: relative;
    width: 25px;
    height: 25px;
    display: inline-block;
  }
  .navbar-top-links li .dropdown-menu li {
    display: block;
  }
  .navbar-top-links li .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
    color: #999999;
  }
  .navbar-top-links .dropdown-user li a {
    padding: 10px !important;
    height: auto;
  }
  .navbar-top-links .dropdown-user li a i {
    margin-right: 5px;
    color: #999999;
  }
  .navbar-top-links li > a i {
    font-size: 16px;
    color: #ffffff;
  }
  .admin-options {
    z-index: 20;
    line-height: 20px;
  }
  .dropdown-menu.panel .list-group-item>a {
    display: block;
  }
  .dropdown-menu.panel .list-group-item, .dropdown-menu.panel .panel-footer, .dropdown-menu.panel .panel-heading {
    padding: 10px 15px;
  }
}

.navbar {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: $light-turquoise;
}

// Dropdown
.dropdown-menu {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.dropdown-menu li a {
  color: #999999;
  padding: 9px 10px;
  font-size: 13px;
}

.dropdown-menu.with-arrow.panel {
  border: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.dropdown-menu.with-arrow.panel-default:before {
  border-bottom: 8px solid #e9e9e9
}

dropdown-menu.with-arrow:before {
  content: " ";
  position: absolute;
  left: 12px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid rgba(0,0,0,.15);
}

.dropdown-menu.with-arrow.panel-dark:after {
  border-bottom: 7px solid #3a3630;
}

.dropdown-menu.with-arrow:after {
  content: " ";
  position: absolute;
  left: 13px;
  top: -14px;
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
}

.dropdown-menu.with-arrow {
  margin-top: 0;
}

.dropdown-menu.with-arrow.pull-right {
  margin-top: 0;
}

// List
.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

.list-group+.panel-footer, .panel-heading+.list-group .list-group-item:first-child {
  border-top-width: 0;
}

.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.list-group-item {
  padding: 15px;
  border: 1px solid #f3f3f3;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #eff2f7;
}

ul.todo-list {
  overflow: hidden;
  width: auto;
  height: 250px;
  padding: 0;
}

ul.todo-list li {
  background: #f3f3f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  padding: 13px;
  margin-bottom: 5px;
  cursor: move;
  list-style: none;
  span.drag-drop {
    height: 17px;
    display: block;
    float: left;
    width: 7px;
    position: relative;
    top: 2px;
  }
  .todo-check {
    margin-left: 10px;
    margin-right: 10px;
  }
  .todo-title {
    margin-right: 70px;
  }
  .todo-actions {
    position: absolute;
    right: 15px;
    top: 13px;
  }
  .todo-actions a i {
    color: #999999;
    margin: 0 5px;
  }
}

ul.todo-list li {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

// Media
.media>.pull-left {
  margin-right: 10px;
}

// Span
span.block {
  display: block;
}

// Side nav
#sidebar {
  background: #3C3C3C;
}

.navbar-static-side {
  transition: 0.3s all linear;
}

.navbar-static-side ul li {
  background: #3C3C3C;
  outline: none;
  color: #d9d9d9;
}

.navbar-static-side ul li {
  border-bottom: 1px solid #484848;
}

.navbar-static-side ul li.active a {
  background: #303030;
  transition: 0.2s all ease-in-out;
  outline: none;
  color: #FFF;
}

.navbar-static-side ul li a {
  color: #d9d9d9;
  padding: 15px;
  &:hover, &:focus {
    background: #303030;
    transition: 0.2s all ease-in-out;
    outline: none;
    color: #FFF;
  }
}

.navbar-static-side ul li a span.menu-title {
    margin-left: 10px;
}

// Container
#page-wrapper {
  min-height: 100%;
  padding: 0 !important;
  background-color: $body-background-color;
  transition: 0.3s all linear;
}

.page-title-breadcrumb {
  padding: 10px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  clear: both;
  border-bottom: 1px solid #e5e5e5 !important;
  box-shadow: none !important;
}

.page-title-breadcrumb .page-header {
  margin: 0;
  padding: 0;
  border-bottom: 0;
}

.page-title-breadcrumb .page-header .page-title {
  font-size: 25px;
  font-weight: 300;
  display: inline-block;
}

.page-title-breadcrumb .breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: transparent;
}

.page-content {
  padding: 20px 20px 50px 20px;
  min-height: 700px;
}

#sum_box .db {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#sum_box .icon {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0px;
  float: right;
}

#sum_box .db:hover .icon {
  opacity: 1;
  color: #fff;
}

#sum_box h4 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  span {
    font-size: 16px;
  }
  p.description {
    margin-top: 0px;
    opacity: .6;
  }
}

.portlet .portlet-body {
  background: #FFFFFF;
  padding: 15px;
  clear: both;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.slimScrollDiv {
  float: left;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: $screen-xs-max) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .navbar-header {
    float: left;
  }
  .navbar-static-side {
    z-index: 1;
    position: absolute;
    width: 200px;
  }
  #page-wrapper {
    position: relative;
    margin: 0 0 0 200px;
    padding: 0;
  }
  .navbar-static-side ul li a {
    text-align: center;
    .fa {
      font-size: 24px;
    }
  }
  .navbar-static-side ul li a span.menu-title {
    margin-left: 0; 
    display: block;
  }
}

/* Small devices (tablets, 768px and upto desktops, 992px) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  
}

/* Medium devices (desktops, 992px and upto large desktops, 1200px) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .visible-lg {
    display: block!important;
  }

}

