.color-success { color: #3C763D; }
.extra-margin-top { margin-top: 40px; }

.icon-link:hover {
  text-decoration: none;
  i { color: $brand-primary; }
}

.headline-top-page {
  margin-top: 30px;
}

h1 {
  line-height: 125%;
  letter-spacing: -0.2px;
}

h2 {
  line-height: 115%;
  letter-spacing: -0.2px;
}

h3 {
  line-height: 105%;
  letter-spacing: -0.2px;
}

.text-danger {
  color: $red;
}

.panel, .well {
  h1 {
    margin-top: 6px;
    margin-bottom: 22px;
  }
  h2 {
    margin-top: 4px;
    margin-bottom: 18px;
  }
  h3 {
    margin-top: 2px;
    margin-bottom: 14px;
  }
}

.text-muted {
  color: $dark-grey;
}

.text-bold {
  font-weight: bold;
}

// Labels
.label-success {
  background: $grass;
}

.label-info {
  background: $blue;
}

.label-warning {
  background: $orange
}

.label-danger {
  background: $red;
}

// Text
.text-success {
  color: $grass;
}

.text-info {
  color: $blue;
}

.text-warning {
  color: $orange
}

.text-danger {
  color: $red;
}